{% extends "account/base.html" %}
{% load staticfiles %}


	{% block style %}
       <link href={% static 'datetime/css/bootstrap-datetimepicker.css' %} rel="stylesheet">
       <script src= {% static 'datetime/js/bootstrap-datetimepicker.min.js' %}></script>
       <script src={% static 'phone/bootstrap-formhelpers-phone.js' %}></script>
       
        <style>
        #map {
            padding: 250px;
            width: 100%;
            height: 100%;
        }
    </style>
	{% endblock %}

    {% block content %}
	<p>{{ msg }}</p>
    
	<div id="map" class="leaflet-container-default"></div>
	
	{% endblock %}

		
    {% block form %}
    
<div class="container" style="margin-top: 20px;">
    <form>
           {% csrf_token %}
            <label for="datetime">The offer expires at:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" placeholder='Enter date and time'
        id='datetime' readonly>
        </div>
            <small id="rideHelp" class="form-text text-muted">Let people know when they can contact you last about this offer.</small>
        <br>

        <label for="phoneNumber">Phone Number/Whatsapp:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">GB</span>
            </div>
            <input id="phoneNumber" type="text" class="form-control bfh-phone" data-format="+4 (ddd)ddd-dddd">
        </div>
        <br>
        
        <label for="price">Price:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">£</span>
            </div>
            <input id="price" type="number" onchange="setTwoNumberDecimal" min="0" max="500" step="0.25" value="0.00" class="form-control">
        </div>
            <small id="rideHelp" class="form-text text-muted">You can use the UP and DOWN arrows to adjust the price.</small>
            <br>
        
            <label for="phoneNumber">Description:</label>
            <div class="input-group mb-3">
                <textarea id="description" type="text" class="form-control"></textarea>
            </div>
            <br>

        <button id="do" type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>
 
   
    {% endblock %}
   
{% block script %}

<script type="text/javascript" src="{% static 'jqC/jquery.cookie.js' %}"></script>

<script type="text/javascript" src="{% static 'add_ride/add_ride.js' %}"></script>

<script type="text/javascript">var user = "{{ user }}" </script>

<script type="text/javascript">

    
    
    function setTwoNumberDecimal(event) {
    this.value = parseFloat(this.value).toFixed(2);
}
    
    
    var today = new Date();
    $("#datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        todayBtn: true,
        startDate : today
    });
    
    console.log(today);
</script>

{% endblock %}
