<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}

  {% load leaflet_tags %}
  {% leaflet_js %}
  {% leaflet_css %}
    
	<script
	  src="https://code.jquery.com/jquery-3.4.0.js"
	  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
	  crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	<script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}"></script>
	<script type="text/javascript" src="{% static 'cluster/dist/leaflet.markercluster-src.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'cluster/dist/MarkerCluster.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cluster/dist/MarkerCluster.Default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
	<link rel="stylesheet" href="{% static 'fontA/css/font-awesome.min.css' %}">

	
	{% block style %}
	<style>
		#list {
				padding: 100px;
		}
	</style>
	{% endblock %}

	<meta charset="UTF-8">

	<title>
		{% block head_title %}

		{% endblock %}
	</title>

</head>

<body>

	<div>
     
      {% if messages %}
		<div>
			<strong>Messages:</strong>
			<ul>
				{% for message in messages %}
				<li>{{message}}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">HitchHike</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/accounts/profile/">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'add_ride' %}">Add Ride</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
							</li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
							</li>

							{% endif %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	
	      {% block content %}
						
          {% endblock %}

    
    <div class="container">
          {% block form %}
          
          {% endblock %}
		</div>
		
		<div id="list" class="row">
			{% block list %}

			{% endblock %}

		</div>
	
</body>

{% block script %}



{% endblock %}
</html>

