{% extends "base.html" %}
  {% load staticfiles %}
  
  {% load leaflet_tags %}
  {% leaflet_js %}
  {% leaflet_css %}

  
  {% block content %}
  <style>
      .leaflet-container-default {
        min-height: 427px;
        margin-top: 40px;
        box-shadow: 0 0 20px 13px grey;
      }

      .leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}
    </style>

  <div class="container">

      <div id="map" class="leaflet-container-default"></div>

  </div>
  {% endblock %}
  

  

    {% block list %}
    
    <div class="container">
        <div style="margin-bottom: 55px">
            <form class="form-inline my-2 my-lg-0" method="get" action="/">
    
                <button style="margin-right:10px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" size="80" name="q">
            </form>
          </div>

    <div class="row-12">
        <nav>
          <ul class="pagination justify-content-center">
            {% if rides.has_previous %}
            <li class="page-item"><a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">First</a></li>
            <li class="page-item"><a href="?page={{ rides.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Previous</a></li>
            {% endif %}
    
    
            <li class="page-item"><a class="page-link">Page {{ rides.number }} of {{ rides.paginator.num_pages }}</a></li>
    
    
            {% if rides.has_next %}
            <li class="page-item"><a href="?page={{ rides.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Next</a></li>
            <li class="page-item"><a href="?page={{ rides.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Last</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      
  <div class="row">
    {% for ride in rides %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <div id="miniMap{{ forloop.counter }}"  class="leaflet-container-default"></div>
        <div class="card-body">
          <h4><a href="{{ ride.id }}">
            {{ ride.location_name }} - {{ ride.destination_name }}
          </a></h4>
          {{ forloop.counter }}
          <h5 class="card-title">
            <a href="#">{{ ride.user }}</a>
          </h5>
          <h5 style="color: orangered">{{ ride.ride_date }}</h5>
          {% if ride.price == Null %}
          <h5 style="color: rgb(23, 160, 23)">Free</h5>
          {% else %}
          <h5 style="color: rgb(23, 160, 23)">{{ ride.price }} £</h5>
          {% endif %}
  
          <h5>{{ ride.phone }}</h5>
          <p class="card-text">{{ ride.description }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
    <div style="align-content: center">
      <nav>
        <ul class="pagination justify-content-center">
          {% if rides.has_previous %}
          <li class="page-item"><a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">First</a></li>
          <li class="page-item"><a href="?page={{ rides.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Previous</a></li>
          {% endif %}
  
  
          <li class="page-item"><a class="page-link">Page {{ rides.number }} of {{ rides.paginator.num_pages }}</a></li>
  
  
          {% if rides.has_next %}
          <li class="page-item"><a href="?page={{ rides.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Next</a></li>
          <li class="page-item"><a href="?page={{ rides.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Last</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>


    {% endblock %}
  

{% block script %}

<script type="text/javascript">
      if({{ user_loc_lat }} && {{ user_loc_lon }}) {
        var map = L.map('map', { scrollWheelZoom: false }).setView([{{ user_loc_lat }}, {{ user_loc_lon }}], 8);
      } else {
        var map = L.map('map', { scrollWheelZoom: false }).setView([53.924560,2.916225], 5);
      }
      
      

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}{r}.png', {
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);

    var markers = L.markerClusterGroup();
    for (var i = 0; i < {{ dec_loc| safe }}['features'].length; i++) {
        var a = {{ dec_loc| safe}}['features'][i]['geometry']['coordinates'];
        var title = {{ dec_loc| safe }}['features'][i]['properties']['location_name'];
        var marker = L.marker(new L.LatLng(a[1], a[0]), { title: title });
        marker.bindPopup(title);
        markers.addLayer(marker);
		}
      map.scrollWheelZoom.disable();

      map.on('click', function () {
        map.scrollWheelZoom.enable();
      });

      map.addLayer(markers);


</script>

<script type="text/javascript">

{% for ride in rides %}

  var miniMap = L.map('miniMap{{ forloop.counter }}', { scrollWheelZoom: false }).setView([52.219019,-1.552358], 7);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}{r}.png', {
    attribution: '© OpenStreetMap contributors'
}).addTo(miniMap);

var greenIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var redIcon = new L.Icon({
  iconUrl: "{% static 'leaflet/images/marker-icon-2x-red.png' %}",
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});


var control = L.Routing.control({
		waypoints: [    
    L.latLng({{ ride.location.y }}, {{ ride.location.x }}),
    L.latLng({{ ride.destination.y }}, {{ ride.destination.x }})
  ],
    addWaypoints: false,
		serviceUrl: 'http://localhost:5000/route/v1',
		autoRoute: true,
    createMarker: function(i, wp, nWps) {
    if (i === 0) {
        return L.marker(wp.latLng, {
          icon: redIcon });
    } else {
        return L.marker(wp.latLng, {icon: greenIcon });
    }
},
    showAlternatives: false,
    draggableWaypoints: false,
  }).addTo(miniMap);

control.hide();

{% endfor %}
  
</script>

{% endblock %}